<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <img src="{{url_for('static', filename='logo.png')}}" class="center" style="width:150px;height:150px;">
    {% if title %}
        <title>Ref Archiver - {{ title }}</title>
    {% else %}
        <title>Ref Archiver</title>
    {% endif %}
    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>