{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<center><p><b>Ref Archiver is a quick way of archiving Wikipedia references.</b></p></center>
<div class="tab">
    <button class="tablinks" onclick="openTab(event, 'Whole')" id="defaultOpen">Archive whole page</button>
    <button class="tablinks" onclick="openTab(event, 'Portion')">Archive portion</button>
</div>
<div id="Whole" class="tabcontent">
    <strong>The archived version of the page will be automatically exported as a .txt file.</strong>
    <br>
    <br>
    <div class="form">
        <form action="/" method="POST" name="whole_page">
            <input type="checkbox" id="choice_1" name="live_included_0" value="True">
            <label for="choice_1">Include live links (may significantly slower the process).</label>
            <h3>Enter the page name or URL:</h3>
            <input type="text" name="title_url" id="full_page" size="60">
            <input type="submit" value="Archive!">
            {% if error %}
                <h3>{{ error }}</h3>
            {% endif %}
        </form>
    </div>
</div>
</div>
<div id="Portion" class="tabcontent">
    <strong>The archived version of the page will be automatically exported as a .txt file.</strong>
    <br>
    <br>
    <div class="form">
        <form action="/" method="POST" name="wikitext_portion">
            <input type="checkbox" id="choice_2" name="live_included_1" value="True">
            <label for="choice_2">Include live links (may significantly slower the process).</label>
            <input type="submit" value="Archive!">
            <h3>Enter the wikitext:</h3>
            <textarea class="input_area" rows="33" cols="80" name="wikitxt_portion"></textarea>
        </form>
    </div>
</div>
<script>
    document.getElementById("defaultOpen").click();
</script>
{% endblock %}